/.idea/
/Main/src/META-INF/
nfig.ini
*.log
*.json
*.json5
*.log.0
*.log.1
*.log.2
*.log.3
*.log.4
*.lck
config.json
/out/production/
/out/production/FuehrungsHelferlein/
lastStaus.json
/out/artifacts/config.ini
/out/artifacts/curent.log.0
/out/artifacts/curent.log.0.lck



/META-INF/